@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Lato:wght@300&family=Libre+Baskerville:ital@1&family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@100;300;400;600;700&family=Roboto:ital,wght@0,300;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login{
    left: 60%;
    top: 30%;
    margin-left: -25%;
    position: absolute;
}

.title{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 80px;
   letter-spacing: 0.1cm;
   font-family: 'Jost', sans-serif;
   letter-spacing: 3px;
}


.button{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #82F6DA;
    width: 400px;
    height: 60px;
    border-radius: 40px ;
    color: black;
    font-weight: 700; 
    padding: 20px;
    text-decoration: none;
}

.button:hover {
            /* transform: translateY(-5px); */
             transform: scale(1.1,1.1);
            background-color: #0AE4AF;
        }

.button .icons{
    margin-left: 70px;
}


.icons{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* @media only screen and (width<=400px) {
    .login{
        margin-right: 30px;
        margin-left: -20px;
    }
} */